div.row
  .col-md-6
    kc-permutable-attributes(
      permutable-attributes = "state.permutable_attributes"
      build-permutations = "buildPermutations(permutable_attributes)"
    )
      kc-permutable-input(
        name = "name"
        type = "text"
        required
      ) Name

      kc-permutable-input(
        name = "description"
        type = "text"
      ) Description

  .col-md-5.col-md-offset-1
    .well
      h4 {{state.widgets.length}} Widgets Built

      h5 Name ({{state.permutable_attributes.name.length}})
      ul.list-unstyled
        li(
          ng-repeat = "name in state.permutable_attributes.name"
        ) {{name}}

      h5 Description ({{state.permutable_attributes.description.length}})
      ul.list-unstyled
        li(
          ng-repeat = "description in state.permutable_attributes.description"
        ) {{description}}



      button.btn.btn-default(
        type = "button"
        ng-submit = "submit()"
      ) Submit
