.container-fluid
  .row
    .col-md-6.col-md-offset-3
      .jumbotron.text-center(ng-if="widgets.length === 0")
        p.lead You haven't created any widgets yet!

        a.btn.btn-default.btn-lg(
          ui-sref = "widget-builder"
        ) Get Started

  .row(ng-if="widgets.length > 0")
    .col-lg-3.col-md-4.col-sm-6(
      ng-repeat = "widget in widgets track by $index"
    )
      .well
        button.close(
          type = "button"
          ng-click = "deleteWidget($index)"
        ) &times;

        h4 Name
        p {{widget.name}}

        h4 Description
        p {{widget.description}}
